<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmación</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Datos Recibidos</h1>
    <p><strong>Nombre:</strong> <%= nombre %></p>
    <p><strong>Edad:</strong> <%= edad %></p>
    <p><strong>Correo Electrónico:</strong> <%= email %></p>
    <a href="/"><button>Volver a la página de inicio</button></a>
</body>
</html>
