<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>¡Bienvenido a nuestra página web para solicitar dinero!</h1>
    <a href="/form"><button>Ir al formulario de inscripción</button></a>
</body>
</html>
